[Unit]
Description=VNC Management Server
After=network.target

[Service]
Type=simple
WorkingDirectory=/mgmt-server
ExecStart=python3 server.py

[Install]
WantedBy=multi-user.targe
