[Unit]
Description=VNC Management Server
After=network.target

[Service]
Type=simple
ExecStart=/mgmt-server/server.py

[Install]
WantedBy=multi-user.target
